{
  auto_https off
}

http://medienkundig.local,
http://medienkundig,
http://localhost {
  reverse_proxy website:4321
}

http://app.medienkundig.local,
http://app.localhost {
  reverse_proxy webapp:5173
}
